@charset "UTF-8";

body {
    background-color: #171b2c;
    color: #fff;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

a {
    color: #fff !important;
}

.sp {
    display: revert;
}

.pc {
    display: none;
}

.mt-sp-2 {
    margin-top: .5rem;
}

.bg-ares {
    background-color: #171b2c;
}

.hide {
    display: none;
}

.form-select:disabled {
    background-color: #bbb;
    cursor: not-allowed;
}

.clock {
    font-size: 80px;
    letter-spacing: 7px;
}

.bet-result-scroll {
    max-height: 300px;
    overflow-y: auto;
}

.list-methods-scroll {
    max-height: 390px;
    overflow-y: auto;
}

.top-menu a {
    text-align: left;
}

.modal {
    color: #212529;
}

.password-hover {
    cursor: pointer;
}

@media (min-width: 767px) {
    .sp {
        display: none;
    }

    .pc {
        display: revert;
    }

    .mt-sp-2 {
        margin-top: auto;
    }

    .top-menu a {
        text-align: center;
    }
}
