@charset "UTF-8";

html {
    box-sizing: border-box;
    min-height: 100%;
    position: relative;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin-bottom: 60px;
    background-color: #171b2c;
    color: #fff;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

a {
    color: #fff !important;
    text-decoration: none;
}

.bot-container {
    padding: 0 .75rem;
    border: 1px solid #dee2e6;
    border-radius: .3rem;
}

.sp {
    display: revert;
}

.pc {
    display: none;
}

.mt-sp-2 {
    margin-top: .5rem;
}

.font-14 {
    font-size: .875rem;
}

.font-26 {
    font-size: 1.625rem;
}

.font-weight-700 {
    font-weight: 700;
}

.bg-ares {
    background-color: #171b2c;
}

.img-logo {
    object-fit: cover;
    height: 7.5rem;
}

.custom-label label {
    color: #747680;
}

.bg-danger-custom {
    background-color: #ff3333 !important;
}

.bg-success-custom {
    background-color: #33cc66 !important;
}

.text-danger-custom {
    color: #ff3333 !important;
}

.text-success-custom {
    color: #33cc66 !important;
}

.border-radius-custom {
    border: none;
    border-radius: 0.3rem;
}

.register a {
    text-decoration: underline;
}

.verify-status {
    font-size: 6rem;
}

.verify-count {
    font-size: 1.3rem;
}

.rank .text-warning {
    color: #ffff00 !important;
}

.expired-date .text-danger {
    color: #ff3333 !important;
}

.profit .text-success {
    color: #33cc66 !important;
}

.profit .text-danger {
    color: #ff3333 !important;
}

.form-select:disabled,
.form-control.disabled {
    background-color: #bbb;
    cursor: not-allowed;
}

.clock {
    font-size: 80px;
    letter-spacing: 7px;
}

.bet-result-scroll {
    max-height: 300px;
    overflow-y: auto;
}

.setting-profit .bg-secondary {
    border-radius: .25rem;
    display: flex;
    flex-wrap: wrap;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    background-color: #333366 !important;
}

.setting-profit .bg-secondary div {
    padding: .438rem .75rem;
}

.stop-loss-btn, .take-profit-btn {
    position: relative;
    cursor: pointer;
}

.stop-loss-btn {
    border-left: 1px solid #ff810f;
}

.take-profit-btn {
    border-right: 1px solid #ff810f;
}

.setting-profit .setting-profit-text {
    position: relative;
    z-index: 10;
}

.setting-profit .bg-secondary .percent {
    position: absolute;
    top: 0;
    height: 100%;
}

.setting-profit .bg-secondary .stop-loss-percent {
    background-color: #ff3333;
    right: 0;
}

.setting-profit .bg-secondary .take-profit-percent {
    background-color: #33cc66;
    left: 0;
}

.list-methods-scroll {
    max-height: 330px;
    overflow-y: auto;
    text-align: left;
}

.method-action .list-inline-item:not(:last-child) {
    margin-right: 0;
}

.method-action .list-inline-item:last-child {
    margin-top: .25rem;
}

.method-action .list-inline-item a {
    min-width: 78px;
    padding: 0.3rem 0.1rem;
}

.method-item .method-pattern .bg-light {
    padding: 2px;
    border-radius: .2rem;
}

.method-item .method-signal,
.method-item .method-pattern {
    text-align: left;
}

.validate-method .list-group-item,
.validate-profit .list-group-item {
    color: #ffffff;
}

.top-menu a.nav-link {
    text-align: left;
    color: #fff;
}

.top-menu .nav-item:hover {
    border-radius: .3rem;
    background-color: #bbbbbb;
}

.top-menu .nav-item:hover a.nav-link {
    color: #0f0f0f !important;
}

.list-prices {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 0;
}

.list-prices .list-inline-item:not(:last-child) {
    margin-right: -5px;
}

.list-prices .list-inline-item.new {
    margin-right: 0;
}

.list-prices .list-inline-item:hover {
    cursor: pointer;
}

.list-prices .candle-item {
    font-size: 1.3rem;
}

.list-prices .candle-item.candle-success {
    color: #33cc66;
}

.list-prices .candle-item.candle-danger {
    color: #ff3333;
}

.order-result .text-success {
    color: #33cc66 !important;
}

.order-result .text-danger {
    color: #ff3333 !important;
}

#research-method {
    color: #dee2e6;
}

#research-method .modal-content {
    border: 1px solid #dee2e6;
}

#research-method .modal-content {
    background-color: transparent;
}

#research-method .modal-header,
#research-method .modal-body,
#research-method .modal-footer {
    background-color: #171b2c;
}

.move-money-wrap {
    padding: 0.75rem;
}

.move-money {
    border: 1px solid #dee2e6;
}

.move-money-header {
    background-color: #171b2c;

}

.move-money-header .left-header {
    border-right: 1px solid #555555;
    padding: 1.5rem;
}

.move-money-header .right-header {
    padding: 1.5rem;
}

.move-money-body {
    background-color: #1d233b;
    padding: 0 2rem 2rem 2rem;
}

.changeAmount,
.all-amount {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    line-height: 60px;
}

.modal {
    color: #212529;
}

.password-hover {
    cursor: pointer;
}

.top-10 {
    top: 10px !important;
}

.end-10 {
    right: 10px !important;
}

.loadingoverlay {
    opacity: 0.4 !important;
}

.hide {
    display: none;
}

@media (min-width: 767px) {
    .sp {
        display: none;
    }

    .pc {
        display: revert;
    }

    .mt-sp-2 {
        margin-top: auto;
    }

    .top-menu a {
        text-align: center;
    }

    .list-prices::-webkit-scrollbar {
        height: .5rem;
        background-color: #171b2c;
        border-radius: .3rem;
    }

    .list-methods-scroll {
        text-align: center;
    }

    .list-methods-scroll::-webkit-scrollbar,
    .bet-result-scroll::-webkit-scrollbar {
        width: .5rem;
        background-color: #171b2c;
        border-radius: .3rem;
    }

    .list-prices::-webkit-scrollbar-thumb,
    .list-methods-scroll::-webkit-scrollbar-thumb,
    .bet-result-scroll::-webkit-scrollbar-thumb {
        border-radius: .3rem;
        background-color: #dee2e6;
    }

    .list-prices::-webkit-scrollbar-track,
    .list-methods-scroll::-webkit-scrollbar-track,
    .bet-result-scroll::-webkit-scrollbar-track {
        border-radius: .3rem;
        background-color: #171b2c;
    }

    .method-action .list-inline-item.updated {
        margin-right: 5px;
    }

    .method-action .list-inline-item a {
        padding: 0.37rem 0.75rem;
    }
}
