@charset "UTF-8";

body {
    background-color: #171b2c;
    color: #fff;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

a {
    color: #fff !important;
}

.sp {
    display: block;
}

.pc {
    display: none;
}

.form-select:disabled {
    background-color: #bbb;
    cursor: not-allowed;
}

.clock {
    font-size: 80px;
    letter-spacing: 7px;
}

@media (min-width: 767px) {
    .sp {
        display: none;
    }

    .pc {
        display: block;
    }
}
